.header {
  background: rgb(46, 44, 44);
  color: white;
  padding: 2rem 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0%;
}
.header a {
  color: white;
  text-decoration: none;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  gap: 15px;
  padding: 15px;
}
